Daniel Ryan <ryand5@tcd.ie> DanRyanIrish <ryand5@tcd.ie>
Ankit Baruah <ankit.baruah1@gmail.com> abit2 <ankit.baruah1@gmail.com>
Nabil Freij <nabil.freij@gmail.com> Nabobalis <nabil.freij@gmail.com>
Ankit Baruah <ankit.baruah1@gmail.com> ankit <ankit.baruah1@gmail.com>
Mateo Inchaurrandieta <mateo.inchaurrandieta@gmail.com> mateoi <mateo.inchaurrandieta@gmail.com>
Shelbe Timothy <shelbe@lmsal.com> shelbej <shelbe@lmsal.com>
Aoife Maria Ryan <ryana38@tcd.ie> aoife <ryana38@tcd.ie>
Baptiste Pellorce <baptiste.pellorce@etu.univ-lyon1.fr> Baptiste PELLORCE <baptiste.pellorce@etu.univ-lyon1.fr>
Baptiste Pellorce <baptiste.pellorce@etu.univ-lyon1.fr> Baptiste Pellorce <37335327+BaptistePellorceAstro@users.noreply.github.com>
