Daniel Ryan <ryand5@tcd.ie> DanRyanIrish <ryand5@tcd.ie>
Ankit Baruah <ankit.baruah1@gmail.com> abit2 <ankit.baruah1@gmail.com>
Nabil Freij <nabil.freij@gmail.com> Nabobalis <nabil.freij@gmail.com>
Ankit Baruah <ankit.baruah1@gmail.com> ankit <ankit.baruah1@gmail.com>
Mateo Inchaurrandieta <mateo.inchaurrandieta@gmail.com> mateoi <mateo.inchaurrandieta@gmail.com>
Shelbe Timothy <shelbe@lmsal.com> shelbej <shelbe@lmsal.com>
Aoife Maria Ryan <ryana38@tcd.ie> aoife <ryana38@tcd.ie>
Baptiste Pellorce <baptiste.pellorce@etu.univ-lyon1.fr> Baptiste PELLORCE <baptiste.pellorce@etu.univ-lyon1.fr>
Baptiste Pellorce <baptiste.pellorce@etu.univ-lyon1.fr> Baptiste Pellorce <37335327+BaptistePellorceAstro@users.noreply.github.com>
Yash Sharma <yashrsharma44@gmail.com> Yash <yashrsharma44@gmail.com>
Laura Hayes <hayesla@tcd.ie> hayesla <hayesla@tcd.ie>
Marcus Hughes <hughes.jmb@gmail.com> jmbhughes <hughes.jmb@gmail.com>
Ricky O'Steen <rosteen@stsci.edu> Ricky O'Steen <39831871+rosteen@users.noreply.github.com>
Kris Stern <krisastern@gmail.com> Kris Stern <krisastern@gobuddy.asia>
Matthew J. West <69257591+mwest007@users.noreply.github.com> Dr Matthieu Wes <69257591+mwest007@users.noreply.github.com>
Will Barnes <will.t.barnes@gmail.com> Will Barnes <wtb2@rice.edu>
