name: CI

on:
  push:
    branches:
      - '*'
      - '!*backport*'
    tags:
      - 'v*'
      - '!*dev*'
      - '!*pre*'
      - '!*post*'
  pull_request:
  # Allow manual runs through the web UI
  workflow_dispatch:

jobs:
  core:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      posargs: -n auto
      envs: |
        - linux: py310

  test:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      posargs: -n auto
      envs: |
        - macos: py38
        - windows: py39
        - linux: py38-oldestdeps
        - linux: build_docs
          posargs: ''
          pytest: false
          libraries:
            apt:
              - libopenjp2-7
              - graphviz

  cron:
    if: github.event_name == 'workflow_dispatch'
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      default_python: '3.8'
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      posargs: -n auto
      envs: |
        - linux: py39-devdeps
        - linux: py39-conda
          libraries: ''

  publish:
    # Build wheels when pushing to any branch except main
    # publish.yml will only publish if tagged ^v.*
    if: |
      github.event_name != 'pull_request' && (
        github.ref_name != 'main' ||
        github.event_name == 'workflow_dispatch' )
    needs: [test]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@v1
    with:
      test_extras: 'dev'
      test_command: 'pytest -p no:warnings --doctest-rst -m "not mpl_image_compare" --pyargs sunpy'
      submodules: false
    secrets:
      pypi_token: ${{ secrets.pypi_token }}

  notify_pass:
    if: github.event_name == 'workflow_dispatch'
    needs: [publish, cron]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: sunpy/sunpy/.github/actions/matrix@main
        with:
          status: 'Succeeded'
          token: ${{ secrets.matrix_access_token }}
          homeserver: ${{ secrets.matrix_homeserver }}
          roomid: '%21TWSJXVpyflnZOzmSQz:matrix.org'

  notify_fail:
    if: failure() && github.event_name == 'workflow_dispatch'
    needs: [publish, cron]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: sunpy/sunpy/.github/actions/matrix@main
        with:
          status: 'Failed'
          token: ${{ secrets.matrix_access_token }}
          homeserver: ${{ secrets.matrix_homeserver }}
          roomid: '%21TWSJXVpyflnZOzmSQz:matrix.org'
